name: Build, Test, and Lint Pipeline

on:
  push:
    branches: [ main ]

jobs:
  lintBackend:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        cd ./backend
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Pylint
      run: |
        cd ./backend
        pylint **/*.py --rcfile=.pylintrc --fail-under=8
  
  testBackend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          cd ./backend
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run tests
        run: |
          cd ./backend
          python3 -m unittest discover -s backend/tests -p "test_*.py" -v

  lintFrontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Use Node.js 20
        uses: actions/setup-node@v3
        with:
          node-version: 20
      - name: Install project and lint
        run: |
          cd ./frontend
          npm install
          npm run lint

  test:
    runs-on: ubuntu-latest
    needs: [lintBackend, lintFrontend]

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Use Node.js 20
        uses: actions/setup-node@v3
        with:
          node-version: 20
      - name: Install project
        run: |
          cd ./frontend
          npm install
          npm test

  
  build-and-push-frontend:
    runs-on: ubuntu-latest
    needs: [lintBackend, lintFrontend, test]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push frontend Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          tags: michaelc143/apptemplatefrontend:latest

  build-and-push-backend:
    runs-on: ubuntu-latest
    needs: [lintBackend, lintFrontend, test]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    - name: Build and push backend Docker image
      uses: docker/build-push-action@v5
      with:
        context: ./backend
        push: true
        tags: michaelc143/apptemplatebackend:latest